<nav class="navbar navbar-expand-lg bg-primary text-white mb-3">
  <div class="container">
    <a class="navbar-brand text-light" (click)="enviarLista()" style="font-size: 1.5rem;">Heroes<img
        src="https://4.bp.blogspot.com/-Q4W-N5KevBw/WahyoUIa0mI/AAAAAAAACQE/HwMp_AY-yUQaN1_UYxYP55C8L54cTkypwCLcBGAs/s1600/pow.png"
        alt="powImage" width="30" height="24" class="d-inline-block align-text-top" /></a>
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link text-light" style="font-size: 1.4rem;" (click)="enviarLista()">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" style="font-size: 1.4rem;" (click)="enviarCrear()">Crear</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
