.masculino_card{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.masculino_card_body{
  background-color: rgb(0, 0, 0);
}
.femenino_card{
  color: black;
  background-color: rgba(246, 246, 46,.6);
}
.femenino_card_body{
  background-color: #f6f62e;
}
